<template>
  <div class="first">
        <NavBarEnglish />
        <MainBodyEnglish />
        <AboutEnglish />
    </div>
</template>

<script>
// @ is an alias to /src
import NavBarEnglish from '@/components/NavBarEnglish';
import MainBodyEnglish from '@/components/MainBodyEnglish';
import AboutEnglish from '@/components/AboutEnglish';

export default {
  name: "Home",
  components: {
    NavBarEnglish,
    MainBodyEnglish,
    AboutEnglish,
  }
};
</script>
