<template>
  <div class="first">
        <NavBar />
        <MainBody />
        <About />
    </div>
</template>

<script>
// @ is an alias to /src
import NavBar from '@/components/NavBar';
import MainBody from '@/components/MainBody';
import About from '@/components/About';

export default {
  name: "Home",
  components: {
    NavBar,
    MainBody,
    About,
  }
};
</script>
