<template>
    <div>
        <div class="shadow-sm about mt-3">
    <h4 id="about" class='text-center mt-5'>ABOUT US</h4>
    <div class="row mt-5">
        <div class="col text-center">
            <img src="../assets/echipa.png">
            <h2 class="mt-4">Amazing team!</h2>   
        </div>
        <div class="col text-center">
            <img src="../assets/munte.png">
            <h2 class="mt-4">We aim high!</h2> 
        </div>
        <div class="col text-center">
            <img src="../assets/contact.png">
            <h2 class="mt-4">Contact us!</h2>
        </div>
    </div>
</div>

<div class="row mt-3">
        <div id="detalii" class="col text-center jumbotron">
                <h4>Details</h4>
                <p class="mt-4">Our company loves to take care of you</p>
                <p>Our products are 100% natural</p>
        </div>
        <div id="contact" class="col text-center jumbotron">
                <h4>Contact</h4>
                <p class="mt-4">excello@gmail.com</p>
                <p>+4073899428</p>
        <div class="row">
            <div class="col text-center"> 
                <input type="text" v-model="msg">
                <button @click="click" class="btn bg-danger font-weight-bold text-white ml-3 mb-1">Press</button>
                <br>
                    {{ message }}
            </div>
        </div>
    </div>
    </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "HomeEnglish",
   data () {
        return {
            msg: null,
            message: null,
            validate: 0,
        }
    },
    methods: {
        click() {
            if (this.msg) {
                axios.post('http://127.0.0.1:8000/api/contacts', {
                    email: this.msg,
                });
                this.message = 'Mail succesufly sended, we will contact you';
                setTimeout(() => {
                    this.message = '';
                }, 2000);
            }
        }
    }

};
</script>