<template>
<div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="mt-5">Excello.</h1>
                <h4 class="mt-3">Transforma dieta ta</h4>
                <button class="mt-3 mb-3 font-weight-bold text-white btn btn-1"><a class="btn-detalii text-white" href="#detalii">Detalii</a></button>
                <button class="font-weight-bold text-white btn btn-2"><a class="btn-detalii text-white" href="#contact">Contact</a></button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../assets/buffalo.jpg" class="shadow-lg mx-auto d-block">
            </div>
        </div>
    </div>
    <div class="second">
    <div class="container">
        <div class="row mt-5 text-center">
        <div v-for="produs in produse" :key="produs.id" class="col-md col-sm-12 col-12 mr-3 mt-2 mb-2 card">
            <a href="#" class="produse nav-link font-weight-bold">{{produs.titlu}}</a>
            <p>{{produs.descriere}}</p>
        </div>
    </div>
    </div>
</div>
</div>
</template>
<script>
import axios from 'axios';

export default {
  name: "Home",
   data () {
        return {
            produse: null,
        }
    },
    mounted() {
        axios.get('http://127.0.0.1:8000/api/produses.json')
        .then(el => this.produse = el.data)
        .catch(err => console.error(err));
    }, 
};
</script>
