<template>
    <nav class="font-weight-bold shadow-sm mb-1 dsa2 navbar navbar-expand-lg navbar-dark lighten-1">
        <a class="navbar-brand dsa" href="#">Excello</a>
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About us</a>
                </li>
                <li class="nav-item ml-2 mr-2">
                    <a href="/">
                    <img src="../assets/romania.png" class="language">
                    </a>
                </li>
                <li class="nav-item ml-2 mr-2">
                    <a href="/home">
                    <img src="../assets/america.png" class="language">
                    </a>                
                </li>
            </ul>
        </div>
    </nav>

</template>