@import './variables.scss';

html {
    scroll-behavior: smooth;
  }

.first {
    background-color:$grey;
    .navbar-dark {
        .navbar-brand {
            color:$red;
                &:hover {
                    color:$red;
                }
        }
        .navbar-nav {
            .nav-link {
                color: $blue;
                transition: .5s;
                &:hover {
                    color:$red;
                }
            }
        }
    }
    .jumbotron {
        background-color: $grey;
    }
    .produse {
        color: $blue;
        &:hover {
            color: $blue
        }
    }
    .btn-detalii:hover {
        text-decoration: none;
    }
    .submit{
        background-color: $red;
    }
    .navbar-dark {
        .navbar-brand:hover {
            color:$red;
        }
    }
    .container {
        .row {
            img {
                width: 70%;
                height: 90%; 
            }
            .btn-1 {
                background-color: $red;   
            }
            .btn-2 {
                background-color: $blue;   
            }
        }
    }
    .card {
        width:auto;
        margin-right: 5px;
        border:none;
        box-shadow: -1px 2px 27px 7px #eeee;
    }
    .language {
        width:35px;
    }   
}